################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1/Day1/Day1/bin/Debug/netcoreapp3.1
/Day1/Day1/Day1/obj
/Day2/Day2/Day2/bin/Debug/netcoreapp3.1
/Day2/Day2/Day2/obj
/Day3/Day3/Day3/bin/Debug/netcoreapp3.1
/Day3/Day3/Day3/obj
